.example-card {
    margin-bottom: 8px;
    background-color:grey;
    width:420px;
    
    }
.imgrym{
    margin-top: 50px;
    width: 100px;   
}
.tituloRyM{
    height: 100px;
    text-align: center;
    background-color: aquamarine;
}

