<div class="tituloRyM">
    <h1>
        Api Ricky Morty
    </h1>
</div>
  
<div class="d-flex justify-content-end">
    <div>
        <ngb-pagination
        [collectionSize]="826"
        [(page)]="page"
        [maxSize]="6"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
        [pageSize]="20"
        (pageChange)="ngOnInit()"
    />

    </div>
  </div>
<mat-grid-list cols="2" rowHeight="2:1">
    
@for(personaje of listaPersonajes; track $index){
    
    <mat-grid-tile>
    <mat-card class="example-card" appearance="outlined" (click)="openDialog(personaje)">
        <mat-card-header>
        <mat-card-title-group>
        <mat-card-title>{{personaje.name}}</mat-card-title>
        <mat-card-subtitle>{{personaje.status}}</mat-card-subtitle>
        <img class="imgrym" mat-card-md-image [src]="personaje.image" >
        </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
        Genero: {{ personaje.gender }}<br>
        Especie:{{personaje.species}}<br>
        Ubicacion:{{personaje.location.name}}
        </mat-card-content>
        </mat-card>
    </mat-grid-tile>
}
</mat-grid-list>
